<p>
  <b>Codigo:</b>
  <%=h @unid_medida.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @unid_medida.descripcion %>
</p>


<%= link_to 'Edit', edit_unid_medida_path(@unid_medida) %> |
<%= link_to 'Back', unid_medidas_path %>